*{
    margin: 0px;
}

html {
    /* border: 10px solid green; */
    display: flex;
    /* width: 100%; */
    max-width: 1050px;
    height: 100%;
}

body {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    height: 100%;
    
}

header {
    /* border: 5px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 60%;
    color: rgb(22, 22, 68);
}

h1 {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    font-size: 5em;
    color: rgb(22, 22, 68);
}

.gameType {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 60%;
}

.gameTypeButtons {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    color: rgb(22, 22, 68);
}

#playerTurn {
    /* border: 2px solid burlywood; */
    display: flex;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
    height: 5%;
    width: 60%;
    color: rgb(22, 22, 68);
}

.gameBoard {
    /* border: 5px solid gray; */
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
}

.row {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    flex: 1;
}


.square {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 9em;
    font-weight: bold;
}

.top, .middle {
    border-bottom: 8px solid rgb(22, 22, 68);
}

.left, .center {
    border-right: 8px solid rgb(22, 22, 68);
}

.X {
    color: rgba(0, 0, 143, 0.7);
}

.O {
    color: rgba(143, 0, 0, 0.7);
}